streamlit==1.49.1
psycopg2-binary==2.9.10
pandas==2.3.2
numpy==2.3.2
playwright==1.55.0
beautifulsoup4==4.13.5
requests==2.32.5
openpyxl==3.1.5
APScheduler==3.11.0
Flask==3.1.2
flask-cors==6.0.1
SQLAlchemy==2.0.43
pdfkit==1.0.0
weasyprint==66.0
reportlab==4.4.4
trafilatura==2.0.0
lxml==5.4.0
pillow==11.3.0
GitPython==3.1.45
altair==5.5.0